#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
/* Images Style */
.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

.image-thumbnails img:hover {
  border: thick solid black;
}

#random-image-container img {
  margin-top: 20px;
}


#greeting-container {
  margin-top: 20px;
}
/* Menu Style */
 body{
    margin: 0px;
}

.menu-main{
    display: flex;
    justify-content: space-between;
    background: #c44646;
    border-bottom: 1px solid #c44646;
    height: 45px;
}

.menu-main a{
    flex: 1;
    font-family: arial;
    display: flex;
    color: #90d380;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;    
    justify-content: center;
    align-items: center;
}

.menu-main a:hover{
    background: rgba(0,0,0, .1);
}

.menu-main a.active{
    background-color: #b64040;
}

@media (max-width: 768px) {
    
    .menu-main{
        height: auto;
        border-bottom: 0px;
        display: block;
    }
    
    .menu-main a{
        height: 45px;
        border-bottom: 1px solid #c44646;
    }

}

/* Footer Style */

#main-footer {
	background: #c44646;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: #90d380;
	}

